.is-ctl-product {
    .fc-disabled-day {
        background: #fafafa;
    }

    .fc-event {
        .fc-content {
            padding: $spacer-sm 5px;
        }
    }

    .fc-today, .fc-list-item-title,  .fc-list-item-time {
        color: #fff;
    }

    .fc-list-item-title {
        font-weight: 700;
    }

    .fc-default {
        background-color: #2c3e50;
        border-color: #2c3e50;
    }

    .fc-webinar {
        background-color: #e74c3c;
        border-color: #e74c3c;
    }

    .is--active {
        background-color: #2ecc71;
        border-color: #2ecc71;
    }

    .fc-consulting {
        background-color: #e67e22;
        border-color: #e67e22;
    }

    .fc-service {
        .fc-list-item-title,  .fc-list-item-time {
            color: $sw-text-color;
        }
    }

    .fa-chevron-left::before {
        content: ' « ';
    }

    .fa-chevron-right::before {
        content: ' » ';
    }

    .fc-bootstrap .fc-popover.card {
        background: #fff;
        border-color: $sw-border-color;

        .fc-header {
            border-color: $sw-border-color;
        }

        .fc-title {
            font-weight: 700;
            padding: $spacer-sm / 2 $spacer-sm;
        }
    }
}

.service-booking-cart__item {
    font-size: .75rem;
}